.header-7 .slides li {
  padding: 100px 0;
}

.btn-filled {
  background: #ff6c00;
  border: 1px solid #ff6c00;
}

.btn-filled:hover, .btn:hover {
  border-color: #ff6c00;
  background-color: #ff6c00;
}

/* Navbar */

nav .navbar ul.menu a {
  color: #fff;
}

  nav .navbar ul.menu a:hover {
    color: #fff;
  }

nav.overlay.fixed .navbar ul.menu a {
  color: #666;
}

  nav.overlay.fixed .navbar ul.menu a:hover {
    color: #666;
  }

/* Hero Image */

.hero-slider h4 {
  margin-top: 40px;
}

.nav-1 .menu {
  text-align: right;
}

.footer-4 .social-links li {
  width: 25%;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.omt-map-overlay {
   background:transparent; 
   position:relative; 
   width:640px;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
   z-index: 0;
}

.pricing-3 i {
  font-size: 120px;
  opacity: 1;
  display: inline-block;
  margin-bottom: 10px;
  color: #f2a057;
}

.outline {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}