@font-face {
	font-family: 'omytaco';
	src:url('fonts/omytaco.eot?xnuclo');
	src:url('fonts/omytaco.eot?#iefixxnuclo') format('embedded-opentype'),
		url('fonts/omytaco.woff?xnuclo') format('woff'),
		url('fonts/omytaco.ttf?xnuclo') format('truetype'),
		url('fonts/omytaco.svg?xnuclo#omytaco') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="omt-"], [class*=" omt-"] {
	font-family: 'omytaco';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.omt-one-taco:before {
	content: "\e600";
}

.omt-three-taco:before {
	content: "\e601";
}

.omt-two-taco:before {
	content: "\e602";
}

.omt-yelp:before {
	content: "\ead9";
}

